@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/server/index.css" />
    <script src="~/js/server/index.js"></script>
</head>
    <body>
        <div class="welcome">
            <h1>Welcome to the server</h1>
            <h2>Please set the data</h2>
            <p class="responde" id="responde"></p>
            <div class="btn_container">
                <button class="set_btn" id="set_button" onClick="set()">Set data</button>
            </div>
        </div>
    </body>
</html>