.folder_contener{
    display: flex;
    flex-direction: row ;
}

.folder, .file_cont{
    width: 100px;  
    height: 100px;  
    white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.sort_bar:first-child{
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 0px;
    display: flex;
}


.sort_btn_cont .sort{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.sort_bar{
    position: relative;
    font-weight: bold;
    color: #5d5a5a;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    justify-content: center;
}

.bar_name{
    width: 100px;
}

.add_form{
    position: absolute;
    z-index: 10;
    width: 300px;
    height: auto;
    background-color: white;
    margin: 0;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid grey;
}

select{
    border: 1px solid gray;
}

.el_form{
    padding: 10px;
}

.label{
    margin-right: 5px;
}

input{
    border: 1px solid black;
}

.form_btn{
    width: 100%;
    height: 20px;
    background-color: wheat;
    border: 1px solid black;
}

.file_cont{
    position: relative;
    background-color: rgb(199, 222, 235);
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 12px;
}


.file + .file, .folder + .file, .folder + .folder{
    margin-top: 5px;
}

.folder{
    position: relative;
    background-color: orange;
    border: 1px solid black;
    font-size: 14px;
}


.empty, .add_btn, .edit_btn, .del_btn, .show_btn, .download_btn, .add_btn{
    background-color: transparent;
    border: 0px;
}

.add_btn, .edit_btn, .del_btn, .show_btn, .download_btn{
    float: right;
    width: 20px;
    height: 20px;
}

.add_btn{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit_btn{
    background: url('../../../icons/edit.png');  
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    background-position: 2px, 0px;
}

.del_btn{
    background: url('../../../icons/remove.png');  
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    background-position: 2px, 0px;
}

.show_btn{
    background: url('../../../icons/more.png');  
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    background-position: 2px, 0px;
}

.download_btn{
    background: url('../../../icons/download.png');  
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    background-position: 2px, 0px;
}

.add_btn{
    background: url('../../../icons/plus.png');  
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    background-position: 2px, 0px;
}

.exit{
    background: url('../../../icons/cancel.png');  
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    background-position: 2px, 0px;
}

.sort{
    background: url('../../../icons/sort.png');  
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    background-position: 2px, 0px; 
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0px;
}


.empty{
    height: 100px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.file_cont + .empty, .folder_contener + .empty{
    margin-left: 20px;
}

.single_branch{
    position: relative;
    margin: 0;
    padding:  0px;
    width: 100%;
    height: calc(100% - 30px);  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.folder_contener + .single_branch{
    width: 50%;
    height: auto;
    position: absolute;
    border: 1px solid grey;
    z-index: 2;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(212, 211, 211);
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-height: 80px;
}

.folder_contener + .single_branch .sort_bar{
    width: 100%;
    height: 20px;
}


.empty button{
    top: 50%;
    left: 0px;
    transform: translate(0%, -50%);
    float: left!important;
    width: 150px;
    text-align: left;
    margin-left: 5px;
}

.error{
    width: 100%;
    height: 20px;
    text-align: center;
    color: red;
    margin-top: 10px;
}

.btn_div{
    width: 100%;
    height: 20px;
}

.sort_bar + .empty{
    width: 100%;
    height: 20px;
}

.sort_bar + .empty button{
    top: 50%;
    left: 50%!important;
    transform: translate(0%, -50%);

}

.exit{
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: transparent;
    border: 0px;
    right: 10px;
    top: 5px;
}

.folder_add{
    width: 20px;
    height: 20px;
    position: relative;
}

.branch {
    padding: 10px;
}


.name{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0%, -50%);
}